@font-face {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 300;
  src: local("PT Root UI"),
  url("../fonts/PT Root UI_Light.otf") format("otf")
}

@font-face {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 400;
  src: local("PT Root UI"),
  url("../fonts/PT Root UI_Regular.otf") format("otf")
}

@font-face {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 500;
  src: local("PT Root UI"),
  url("../fonts/PT Root UI_Medium.otf") format("otf")
}

@font-face {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 700;
  src: local("PT Root UI"),
  url("../fonts/PT Root UI_Bold.otf") format("otf")
}

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0 0 0 0;
  font-family: 'PT Root UI';
  font-style: normal;
  font-weight: 500;

  //text-align: center;
}

.desktop__hidden {
  position: absolute;
  visibility: hidden;
}

.header {
  //position: fixed;
  width: 100%;
  height: 116px;
  display: flex;
  padding: 0 84px;
  justify-content: space-between;
  align-items: center;
  color: #2B2D33;
  background-color: white;
  font-size: 20px;
  line-height: 26px;
  //box-shadow: 0 2px 10px rgba(61, 52, 52, 0.1);

  &__logo {
    padding: 40px 0;
  }

  &__burger {
    //margin-left: 24px;
    cursor: pointer;
    transition: all ease-out 0.2s;
    //width: 34px;
    //height: 34px;
    ////display: flex;
    ////justify-content: center;
    ////align-items: center;
    //background-image: url("../images/mobile/btn-menu.svg");
  }

  &__menu {
    height: 100%;
    //padding: 64px 0;
    display: flex;
    flex: auto;
    align-items: center;
    transition: all ease-out 0.2s;
    padding-left: 64px;

    &__city {
      cursor: pointer;
    }

    &__contacts {
      margin-right: 64px;
      display: flex;
      align-items: center;
    }

    &__number {
      text-decoration: none;
      color: #2B2D33;
    }

    &__time {
      font-weight: 400;
      font-size: 14px;
      line-height: 10px;
      margin-right: 204px;
    }
  }

  &__button {
    color: #F35C22;
    //margin: 37px 0 23px;
    height: 40px;
    padding: 9px 55px;
    border: #F35C22 solid 1px;
    border-radius: 23px;
    background: white;
    cursor: pointer;
  }

  &__profile {
    margin-left: 64px;
  }
}

#menu-mobile {
  display: none;
}

.navbar {
  //margin-top: 46px;
  //flex: auto;
  //padding: 0 0 0 100px;
  //height: 100%;
  display: flex;
  align-items: center;

  &__link {
    text-decoration: none;
    padding-right: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    color: #2B2D33;

    &:last-child {
      padding: 0;
    }

    //&:hover {
    //  border-bottom: 2px black solid;
    //}
  }

  &__arrow {
    padding-left: 8px;
  }
}

.wrapper {
  padding: 0 84px;
}

.announce {
  width: 100%;
  padding: 88px 0 40px;
  //padding-left: 84px;
  //width: 344px;
  //height: 60px;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  justify-content: left;
  color: #2B2D33;

  &__block {
    display: flex;
    justify-content: center;
    //align-items: ;
    &__text {
      width: 268px;
      height: 52px;
      margin: 8px 0 0 16px;
      text-align: left;
    }
  }
}

.page-title, .page-title__span {
  width: 100%;
  text-align: left;
  font-weight: 700;
  font-size: 112px;
  line-height: 120px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  //color: #2B2D33;
}

.page-title__span__border {
  //content: "";
  width: 4px;
  height: 473.6px;
  border: 1.75px solid #326EEA;
  transform: rotate(90deg);
  //display: block;
  //position: relative;
  //margin: 0;
}

.important-things {
  width: 100%;
  padding: 80px 0 120px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #2B2D33;

  &__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin-right: 72px;

    &:last-child {
      margin-right: 0px;
    }

    &__title {
      padding: 8px 0 16px 0;
      font-weight: 700;
      font-size: 30px;
      line-height: 32px;
    }

    &__text {
      text-align: left;
      font-weight: 400;
    }
  }
}

.recruit {
  color: #2B2D33;
  //width: 1220px;
  width: 100%;
  height: 242px;
  background: #203567;
  border-radius: 26px;
  display: flex;
  align-items: center;
  margin-bottom: 120px;

  & div {
    color: white;
  }

  &__title {
    width: 476px;

    margin: 40px 62px 62px 52px;
    font-weight: 500;
    font-size: 64px;
    line-height: 70px;
  }

  &__info {
    font-size: 30px;
    line-height: 32px;

    &__desc {
      padding-bottom: 20px;
    }

    & form {
      display: flex;
      align-items: center;
      margin-bottom: 8px;
    }

    &__agree {
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
    }
  }

  &__input {
    box-sizing: border-box;
    width: 256px;
    height: 44px;
    background: #F1F6FF;
    border: 1px solid #9ABCFF;
    border-radius: 10px;
    margin-right: 12px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #203567;
    padding-left: 16px;
  }

  &__button {
    padding: 6px 24px;
    width: 229px;
    height: 44px;
    background: #326EEA;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 24px;
    line-height: 32px;
  }

}

.recruit__discount, .comment__alert {
  width: 160px;
  height: 160px;
  position: absolute;
  left: calc(100% - 84px - 108px);
  //top: 925px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  background-image: url("../images/discount-bg.svg");
  //transform: rotate(-30deg);
}

.universities {
  margin-bottom: 120px;

  &__title {
    text-align: center;
    font-size: 30px;
    line-height: 32px;
    color: #2B2D33;
  }

  &__icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
  }

  &__icon:nth-child(n+2) {
    margin-left: -16px;
  }
}

.education-info {
  color: #2B2D33;

  padding: 0 84px;
  display: flex;

  &__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    width: 515px;
  }

  &__subtitle {
    width: 476px;
    padding: 40px 0 50px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
  }

  .education-info__seasons {
    display: flex;
    flex-wrap: wrap;
    margin-left: 120px;
  }

  &__plan {
    font-size: 24px;
    line-height: 32px;
    color: #2B2D33;
    margin-left: 24px;

    &__download {
      color: #326EEA;
      display: flex;
      align-items: center;
      margin-top: 8px;
      text-decoration: none;
      border: none;
      background: none;
    }
  }
}

.modal-w {
  transition: all 0.5s linear;

  &__wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    z-index: 98;
    background: rgba(0, 0, 0, 0.4);
    padding: 30px 16px;
    display: none;
  }

  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 450px;
  max-width: 100%;
  //height: 500px;
  transition: transform 0.15s ease 0s, opacity 0.15s ease 0s;
  transform: scale(1);
  //pointer-events: auto;
  background-color: #fff;
  border-radius: 1rem;

  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    //justify-content: space-between;
    align-items: center;
    margin: 30px;
    z-index: 99;
  }

  &__form {
    width: 100%;
  }

  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 30px;
  }

  &__title-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__cross {
    display: block;
    width: 32px;
    height: 32px;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }

    //margin: 12px 12px 0 12px;
  }
}

#modal-city-ekb:checked ~ label div {
  background: #326EEA;
}

#modal-city-ekb:checked ~ label {
  color: #326EEA;
}

#modal-city-chel:checked ~ label div {
  background: #326EEA;
}

#modal-city-chel:checked ~ label {
  color: #326EEA;
}

#modal-w-tel {
  width: 100%;
  margin: 0;
}

#modal-w-btn {
  width: 100%;
  margin: 30px 0 0;
}

.season {
  color: #2B2D33;

  &:nth-child(odd) {
    padding-right: 80px;
  }

  & div {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }

  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 32px;
    padding-left: 16px;
  }

  &__list {
    list-style-type: none;
    padding-left: 76px;
    padding-bottom: 64px;
    max-width: 267px;

    &__orange {
      color: #F35C22;
    }

    & li {
      padding-bottom: 16px;

      &:last-child {
        padding-bottom: 0px;
      }

    }
  }
}

.benefits {
  display: flex;
  color: #2B2D33;

  &__block {
    width: 616px;
    border-radius: 26px;
    color: white;
    z-index: 2;

    &__title {
      font-weight: 700;
      font-size: 44px;
      line-height: 48px;
      padding: 0 52px;
    }

    &__description {
      padding: 16px 52px 58px;
      font-weight: 400;
      font-size: 20px;
      line-height: 26px;
    }

    &:first-child {
      margin-left: 84px;
      margin-right: 40px;
      background: #2B2D33;
    }

    &:last-child {
      margin-right: 84px;
      background: #60A01C;
    }
  }

  &__hours {
    display: flex;
    align-items: start;
    margin: 32px 0 0 52px;
    width: 100%;

    &__title {
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 8px;
    }

    &__description {
      font-weight: 400;
      font-size: 20px;
      line-height: 26px;
      max-width: 420px;
    }

    &__alert {
      font-size: 30px;
      line-height: 36px;
      margin: 40px 0 0 92px
    }
  }

}

.benefits__hours__link, .license__link {
  display: flex;
  align-items: center;
  //width: 374px;
  height: 32px;
  text-decoration: none;
  background: #FFFFFF;
  border-radius: 8px;
  padding: 3px 16px;
  gap: 10px;
  font-size: 20px;
  line-height: 26px;
  color: #326EEA;
  margin-top: 16px;
  cursor: pointer;
}

@price-offset: -194px;
.price {
  z-index: 0;
  width: 100%;
  margin-top: @price-offset;
  //height: 1440px;
  //position: relative;
  background: #203567;
  border-radius: 42px;
  color: white;

  &__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    text-align: center;
    padding-top: 194px + 120px;
  }

  &__subtitle {
    padding: 16px 0 60px;
    font-size: 30px;
    line-height: 32px;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
  }

  &__columns {
    display: flex;
    margin: 0 136px;
    padding-bottom: 320px;
  }

  &__margin {
    margin-right: 40px;
  }

  &__column {
    &__title {
      font-size: 30px;
      line-height: 32px;
      color: #8F9AB3;
      margin-bottom: 38px;
    }
  }

  &__subject {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 26px;
    display: flex;
    max-width: 194px;

    &__name {
      font-size: 19px;
      line-height: 20px;
      margin-left: 6px;
      padding: 5px 8px;
    }

    &__checkbox {
      position: absolute;
      visibility: hidden;
    }

    &__label {
      width: 24px;
      height: 24px;
      background: #F1F6FF;
      border: 1px solid #9ABCFF;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;

      & img {
        display: none;
      }

    }
  }

  #input-math:checked ~ label img,
  #input-rus:checked ~ label img,
  #input-it:checked ~ label img,
  #input-chemistry:checked ~ label img,
  #input-soc:checked ~ label img,
  #input-bio:checked ~ label img,
  #input-phys:checked ~ label img,
  #input-history:checked ~ label img,
  #input-liter:checked ~ label img,
  #input-eng:checked ~ label img {
    display: flex;
  }

  #input-math:disabled ~ label,
  #input-rus:disabled ~ label,
  #input-it:disabled ~ label,
  #input-chemistry:disabled ~ label,
  #input-soc:disabled ~ label,
  #input-bio:disabled ~ label,
  #input-phys:disabled ~ label,
  #input-history:disabled ~ label,
  #input-liter:disabled ~ label,
  #input-eng:disabled ~ label {
    opacity: 0.8;
  }

  #input-math:checked ~ .price__subject__name,
  #input-rus:checked ~ .price__subject__name,
  #input-it:checked ~ .price__subject__name,
  #input-chemistry:checked ~ .price__subject__name,
  #input-soc:checked ~ .price__subject__name,
  #input-bio:checked ~ .price__subject__name,
  #input-phys:checked ~ .price__subject__name,
  #input-history:checked ~ .price__subject__name,
  #input-liter:checked ~ .price__subject__name,
  #input-eng:checked ~ .price__subject__name {
    background-color: #326EEA;
    border-radius: 24px;
  }

  &__period {

    &__option {
      display: flex;
      margin-bottom: 24px;
    }

    &__radio {
      width: 24px;
      height: 24px;
      color: #326EEA;
      background: #F1F6FF;
      border: 1px solid #9ABCFF;
      border-radius: 5px;
      visibility: hidden;
      position: absolute;
    }

    &__name {
      font-size: 20px;
      line-height: 26px;
      margin-left: 12px;
    }

    &__label {
      width: 24px;
      height: 24px;
      background: #F1F6FF;
      border: 1px solid #9ABCFF;
      border-radius: 50%;
    }
  }


  #period__radio1:checked ~ label div {
    background: #326EEA;
  }

  #period__radio2:checked ~ label div {
    background: #326EEA;
  }

  #period__radio3:checked ~ label div {
    background: #326EEA;
  }

  #period__radio4:checked ~ label div {
    background: #326EEA;
  }

  &__discount {
    //width: 218px;
    //height: 56px;
    background: #F35C22;
    border-radius: 10px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    margin-top: 50px;
    width: fit-content;

    &__title {
      max-width: 62px;
      font-size: 16px;
      line-height: 18px;
    }

    &__number {
      font-size: 44px;
      line-height: 48px;
      margin: 4px 0 4px 16px;
    }

    &__subtitle {
      font-size: 20px;
      line-height: 21px;
      padding-left: 6px;
    }
  }

  &__border {
    width: 0;
    height: 324px;
    border: 2px dashed rgba(221, 221, 221, 0.25);
    border-radius: 32px;
    margin: 0 48px;
  }

  &__check {
    width: 326px;
    //height: 596px;
    //background-image: url("../images/check.svg");
    background: white;
    padding: 0 24px;
    margin-left: 50px;
  }

}

.period__label__circle {
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 50%;
  margin: 3px;
}

.check {
  &__title {
    font-size: 30px;
    line-height: 32px;
    color: #2B2D33;
    text-align: center;
    padding: 20px 0 16px;
  }

  &__line {
    width: 278px;
    height: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  }

  &__subject {
    color: #2B2D33;

    & div {
      color: #2B2D33;
      font-weight: 400;
      font-size: 19px;
      line-height: 21px;
      font-family: 'PT Mono', monospace;
    }

    &__price {
      text-align: right;
    }
  }

  &__input, &__button {
    width: 100%;
    height: 44px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #203567;
    background: #F1F6FF;
    border: 1px solid #9ABCFF;
    border-radius: 10px;
  }

  &__input {
    padding-left: 16px;
  }

  &__button {
    margin: 16px 0 8px;
    color: white;
    background: #326EEA;
    font-size: 19px;
    line-height: 20px;
  }

  &__link {
    display: block;
    text-decoration: none;
    width: 100%;
    text-align: center;
    font-size: 24px;
    line-height: 32px;
    color: #326EEA;

    &:after {
      content: "";
      display: block;
      width: 160px;
      height: 0;
      opacity: 0.4;
      border: 1px solid #326EEA;
      position: relative;
      left: 59px;
    }
  }

  &__rights {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #8F9AB3;
    margin: 24px 0 50px;

    & a {
      text-decoration: none;
      color: #8F9AB3;
      border-bottom: 1px solid #8F9AB3;
    }
  }
}

@license-offset: -200px;
.license {
  margin: @license-offset 84px 0;
  background: #326EEA;
  border-radius: 30px;
  //position: relative;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;

  &__wrapper {
    margin-left: 52px;
    max-width: 584px;
  }

  &__title {
    padding: 48px 28px 16px 0;
    font-weight: 700;
    font-size: 44px;
    line-height: 48px;
    font-feature-settings: 'pnum' on, 'lnum' on;
  }

  &__description {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
  }

  &__link {
    width: 390px;
    margin-bottom: 64px;
  }
}

.teachers {
  margin-left: 160px;

  &-wrapper {
    color: #2B2D33;
    position: relative;
    //top: @price-offset+@license-offset;
    margin: 160px 84px 0;
    display: flex;
  }

  &__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    max-width: 460px;

    & span {
      font-weight: 700;
      color: #F35C22;
    }
  }

  &__subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    font-feature-settings: 'liga' off;
    max-width: 478px;
    padding: 40px 0 32px;
  }

  &__link {
    text-decoration: none;
    font-size: 24px;
    line-height: 32px;
    color: #326EEA;

    & span {
      border-bottom: 1px solid #326EEA;
    }
  }

  &__slider {
    //display: flex;
    overflow: hidden;
    max-width: 604px + 32px;
    user-select: none;
    touch-action: pan-y;
    //max-height: 690px;
    &__track {

    }

    &__navigation {
      //position: absolute;
      display: flex;
      justify-content: center;
      min-height: 12px;
      margin-top: 50px;

      &__label {
        width: 10px;
        height: 10px;
        background: #8F9AB3;
        opacity: 0.5;
        border-radius: 50%;
        margin-right: 8px;
        cursor: pointer;
        transition: all 0.5s ease;

        &:hover {
          opacity: 0.8;
          transform: scale(1.1);
        }

        &:first-child {
          background: #326EEA;
          opacity: 1;
        }
      }
    }
  }

  &__slides {
    width: 500%;
    height: 100%;
    display: flex;
  }

  &__slide {
    display: flex;
    width: 10%;
    transition: all 0.5s ease;
  }

}

//#teachers__slider__radio1:checked ~ .teachers__slide_1 {
//  margin-left: 0;
//}
//
//#teachers__slider__radio2:checked ~ .teachers__slide_1 {
//  margin-left: -20%;
//}
//
//#teachers__slider__radio3:checked ~ .teachers__slide_1 {
//  margin-left: -40%;
//}
//
//#teachers__slider__radio4:checked ~ .teachers__slide_1 {
//  margin-left: -60%;
//}
//
//#teachers__slider__radio5:checked ~ .teachers__slide_1 {
//  margin-left: -80%;
//}

input[name="teachers__slider__r"] {
  position: absolute;
  visibility: hidden;
}

.slider {

  &__button {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/slider/arrow-left-disabled.svg");
    cursor: pointer;

    &__wrapper {
      display: flex;
      position: absolute;
      z-index: 3;
      top: 640px;
      right: 84px
    }

    &__left__examples {
      background-image: url("../images/slider/arrow-left.svg");
    }

    &__left:hover {
      transform: scale(1.1);
    }

    &_right {
      background-image: url("../images/slider/arrow-left.svg");
      transform: rotate(180deg);

      &:hover {
        transform: scale(1.1) rotate(180deg);
        //transform: rotate(180deg);
      }
    }
  }
}

.teacher {
  max-width: 302px;
  position: relative;

  &__photo {
    max-height: 240px;

    &__bg {
      position: relative;
      z-index: -1;
      top: -200px;
      width: 302px;
      height: 200px;
      background: #F1F6FF;
      border-radius: 26px;
    }
  }

  &:nth-child(odd) {
    margin-right: 32px;
  }

  &__name {
    font-size: 30px;
    line-height: 32px;
    color: #2B2D33;
    padding-left: 16px;
  }

  &__education {
    margin-left: 56px;
    font-size: 20px;
    line-height: 26px;
    color: #2B2D33;
  }

  &__experience {
    margin: 16px 0 0 56px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #2B2D33;
  }

}

.results {
  position: relative;
  //top: @price-offset+@license-offset;
  margin: 120px 84px 0;
  color: #2B2D33;

  &__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
  }

  &__subtitle {
    font-size: 30px;
    line-height: 32px;
    text-align: center;
    margin: 16px 0 32px;
  }

  &__link {
    display: block;
    //max-width: 384px;
    text-decoration: none;
    margin: 0 auto;

    &:hover {
      color: white;
    }
  }

}

.results__link, .questions__button {
  width: fit-content;
  color: white;
  padding: 6px 24px;
  background: #326EEA;
  border-radius: 10px;
  font-size: 24px;
  line-height: 32px;
  cursor: pointer;
}

.comment {
  //height: 342px;
  //width: 248px;
  background: #203567;
  color: white;
  margin-right: 40px;
  max-width: 288px;
  padding: 0 16px 20px;
  border-radius: 30px;

  &_white {
    color: #203567;
    background: #F1F6FF
  }

  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 32px;
    padding: 24px 24px 8px 0;
  }

  &__subject {
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 16px;
  }

  &__body {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    max-width: 216px;
  }

  &__poster {
    padding: 24px 0 40px 8px;
    display: block;
    text-decoration: none;
    color: #2B2D33;
    cursor: pointer;
  }

  &__alert {
    background-image: url("../images/comments/alert.svg");
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: white;
    top: 670px;
    width: 160px;
    height: 160px;
  }

  &__margin {
    margin-top: 64px;
    max-width: 316px;
  }
}

.examples {
  position: relative;
  //margin: 0 84px;

  &__slider {
    //display: flex;
    user-select: none;
    touch-action: pan-y;
    overflow: hidden;
    //max-width: 1064px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;

    & img {
      poiner-events: none;
    }

    &.grab {
      cursor: grab;
    }

    &.grabbing {
      cursor: grabbing;
    }
  }

  &__slides {
    //width: 200%;
    //height: 100%;
    display: flex;
  }
}

.example {
  //width: 10%;
  flex-shrink: 0;
  height: fit-content;
  transition: all 0.5s ease;
  background: #F1F6FF;
  border-radius: 26px;
  padding: 32px 24px 40px;
  color: #203567;
  width: 248px;
  min-width: 248px;
  margin: 0 12px;

  &_1 {
    //margin-left: -284px;
  }

  &_white {
    background: white;
    border: 1.75px solid #F4F4F4;
  }

  &__points {
    font-weight: 700;
    font-size: 30px;
    line-height: 32px;
  }

  &__subject {
    font-size: 14px;
    line-height: 18px;
    padding: 8px 0 32px;
  }

  &__link {
    display: flex;
    text-decoration: none;
  }

  &__name {
    margin-left: 16px;
    max-width: 84px;
    font-size: 18px;
    line-height: 22px;
    color: #2B2D33;
  }
}

.map {
  min-height: 988px;
  width: 100%;
  position: relative;
  padding: 0;
  //background-image: url("../images/map/map.svg");
  color: white;

  &__info {
    padding: 48px 52px 0;
    width: 616px;
    height: 748px;
    background: #203567;
    border-radius: 26px;
    position: absolute;
    top: 120px;
    left: 84px;

    &__address {
      font-weight: 700;
      font-size: 44px;
      line-height: 48px;
      margin-bottom: 32px;
    }

    &__extra-info {
      display: flex;
      align-items: start;
      margin-bottom: 16px;

      &__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 8px;
      }

      &__subtitle {
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 16px;
        display: flex;
      }

      &__icon {
        display: flex;
        justify-content: end;
        margin-right: 16px;
        width: 56px;

        & img {
          width: 24px;
          height: 32px;
        }
      }
    }
  }

  &__location {
    position: absolute;
    z-index: 3;
    top: 386px;
    left: 968px;
  }
}

#map {
  width: 100%;
  height: 988px;
}

.questions {
  position: relative;
  margin: 120px 84px 120px 194px;
  color: #2B2D33;

  &__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 48px;
  }

  &__subtitle {
    margin: 16px 0 32px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
  }

  &__name, &__tel, &__time {
    background: #F1F6FF;
    border: 1px solid #9ABCFF;
    border-radius: 10px;
    height: 44px;
    width: 256px;
    color: #9ABCFF;
    padding-left: 16px;
  }

  &__time {
    margin-right: 24px;
  }

  &__tel {
    margin: 0 12px;
  }

  &__button {
    border: none;
  }

  &__rights {
    margin: 28px 0 0 56px;
  }
}

#parent__radio:checked ~ label div {
  background: #326EEA;
}

#student__radio:checked ~ label div {
  background: #326EEA;
}

.photos {
  position: relative;
  margin: 0 84px 120px;
  display: flex;

  &__middle {
    margin: 0 24px 0 76px;
  }

  &__alert {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 160px;
    height: 160px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    //transform: rotate(-30deg);
    background-image: url("../images/photos/alert-full.svg");
    color: white;
  }
}

.emojis {
  display: flex;
  margin: 0 16px 24px;
}

.emoji:nth-child(n+2) {
  margin-left: 16px;
}

.photo__bg {
  //position: absolute;
  //top: 196px;
  margin-top: 196px;
  width: 300px;
  height: 292px;
  background: #326EEA;
  border-radius: 30px;
  display: flex;
  align-items: end;
  z-index: 0;
}

#photo-1 {
  position: absolute;
  top: 0;
  //display: block;
  margin-left: 52px;
  z-index: 3;
}

#photo-3 {
  position: absolute;
  left: 200px;
  top: 470px;
}

#photo-logo {
  position: absolute;
  top: 572px;
  left: 562px;
  display: flex;
  justify-content: end;

  & img {
    width: 348.44px;
    height: 64px;
  }
}

#photo-5 {
  margin: 24px 0 0 52px;
}

.footer {
  position: relative;
  margin: 0 84px 40px;
  color: #2B2D33;
  display: flex;
  justify-content: space-between;

  &__link {
    margin-right: 32px;
    font-size: 20px;
    line-height: 26px;
    text-decoration: none;
    color: #2B2D33;
  }

  &__ogrn {
    margin-top: 24px;

    & div {
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__years {
    padding-top: 4px;
  }

  &__icon {
    margin-top: 28px;
    margin-right: 16px;

    &:last-child {
      margin-right: 0px;
    }
  }
}

.menu-mobile {
  display: none;
}

#city-ekb:checked ~ label div {
  background: #326EEA;
}

#city-ekb:checked ~ label {
  color: #326EEA;
}

#city-chel:checked ~ label div {
  background: #326EEA;
}

#city-chel:checked ~ label {
  color: #326EEA;
}

@media (max-width: 1300px) {
  .wrapper, .education-info {
    padding-left: 40px;
    padding-right: 40px;
  }

  .teachers-wrapper, .results, .questions, .footer {
    margin-right: 40px;
    margin-left: 40px;
  }

  .header {
    padding: 0 40px;

    &__menu {
      &__contacts {
        width: 300px;

        margin-right: 0;
        margin-left: 10px;

        & > a img {
          margin-left: 24px;
        }
      }

      &__time {
        margin-right: 80px;
      }

      &__number {
        font-size: 16px;
      }
    }
  }

  .navbar {
    &__link {
      padding-right: 10px;
    }
  }

  .page-title, .page-title__span {
    font-size: 64px;
    line-height: 64px;
  }

  .recruit__title, .recruit__title span {
    font-size: 48px;
    line-height: 50px;
  }

  .recruit__title {
    width: 300px;
  }

  .recruit__discount {
    top: 900px;
  }

  .benefits__block:last-child {
    margin-right: 40px;
  }

  .benefits__block:first-child {
    margin-left: 40px;
  }

  .benefits__hours__alert, .benefits__hours__alert span {
    font-size: 20px;
    line-height: 24px;
  }

  .price {
    &__columns {
      flex-wrap: wrap;
      justify-content: center;
    }

    &__check {
      margin-top: 50px;
    }
  }

  .document-img {
    width: 350px;
  }

  .teachers {
    margin: 50px 0 0;

    &-wrapper {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .comment {
    margin-right: 20px;

    &__title {
      font-size: 24px;
      line-height: 28px;
    }

    &__body {
      font-size: 14px;
      line-height: 16px;
    }
  }

  #photo-1, .photo__bg, #photo-3, #photo-4, #photo-5 {
    width: 200px;
  }

  .slider__button__wrapper {
    position: relative;
    top: auto;
    margin: 20px 0;
    left: 265px;
  }

  .photos {
    width: fit-content;
    margin-right: 40px;
    margin-left: 40px;

    &__right {
      max-width: 250px;
    }
  }

  .photo__bg {
    height: 200px;
  }

  #photo-2 {
    width: 160px;
  }

  #photo-middle {
    width: 350px;
  }

  #photo-logo img {
    width: 220px;
    top: 450px;
    left: 470px;
  }

  .tablet-hidden {
    display: none;
  }
}

@media (max-width: 768px) {
  .desktop__hidden {
    visibility: visible;
    position: relative;
  }

  .menu-mobile {
    position: fixed;
    margin-top: 64px;
    padding: 0 16px 32px;
    //display: none;
    width: 100%;
    height: auto;
    background-color: white;
    z-index: 11;
    flex-direction: column;
    justify-content: center;

    display: flex;
    right: -100%;
    top: 0;
    transition: right .5s;

    &.active {
      right: 0;
      transition: right .5s;
    }

    //&__link {
    //  text-decoration: none;
    //  color: black;
    //  padding: 0 5px 10px;
    //  border-bottom: solid 2px black;
    //}

    &__button {
      text-decoration: none;
      font-size: 20px;
      line-height: 26px;
      cursor: pointer;
      padding: 3px 16px;
      height: auto;
      margin: 24px 0 40px;

      &:hover {
        color: white;
      }
    }

    &__tel {
      text-decoration: none;
      color: #326EEA;
      font-size: 30px;
      line-height: 22px;
      padding-bottom: 20px;
    }
  }

  .mobile__hidden {
    position: absolute;
    visibility: hidden;
    display: none;
  }

  .header {
    top: 0;
    left: 0;
    display: block;
    height: auto;
    padding: 0 16px;
    z-index: 10;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);

    &__profile {
      margin-left: 0;
      margin-right: 24px;
    }

    &__menu {
      padding: 16px 0;
      border-top: 1px solid #F2F2F2;

      &_desktop {
        padding: 7px 0;
      }

      &__contacts {
        margin-right: 0;
        width: auto;
      }
    }

    &__logo {
      padding: 0;
    }
  }

  .navbar {
    &__el {
      border-bottom: 1px solid #F2F2F2;
      padding: 16px 0;
    }

    &__ul {
      display: none;
      padding-left: 16px;
      transition: all 0.5s ease;
      margin-top: 8px;
    }

    &__li {
      list-style: none;

      & a {
        margin-left: 8px;
        text-decoration: none;
        color: #2B2D33;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
      }
    }

    &__link {
      padding-right: 20px;
      border: none;
      background: white;
      margin: 0;
      font-size: 20px;
      line-height: 26px;
    }
  }

  .wrapper {
    padding: 0 16px
  }

  .announce {
    &__block {
      & img {
        width: 40px;
        height: 40px;
      }

      &__text {
        font-size: 18px;
        line-height: 22px;
      }
    }
  }

  .page-title, .page-title__span {
    font-size: 56px;
    line-height: 56px;
  }

  .important-things {
    order: 2;
    padding: 40px 0 80px;
  }

  .important-things__block {
    &__mobile {
      display: flex;
      flex-direction: row !important;
      margin-bottom: 32px;
    }

    &__images__mobile {
      flex-wrap: wrap;
      max-width: 32px;
      margin-right: 16px;
    }

    &__img {
      width: 32px;
      height: 32px;

      &:first-child {
        margin: 0 0 4px 0 !important;
      }
    }

    &__title, &__text {
      max-width: 280px;
    }

    &__title {
      font-size: 30px;
      line-height: 32px;
      padding-top: 0;
      padding-bottom: 12px;
    }
  }

  .recruit {
    height: fit-content;
    order: 1;
    min-height: 480px;
    flex-wrap: wrap;
    align-items: start;
    margin-top: 40px;

    &__title {
      margin: 32px 16px 30px;
      font-size: 44px;
      line-height: 48px;
      width: auto;
    }

    &__info {
      display: flex;
      flex-wrap: wrap;
      margin: 0 16px;
      padding-bottom: 84px;

      &__desc {
        font-size: 24px;
        line-height: 26px;
        padding-bottom: 32px;
        width: auto;
      }

      & form {
        display: flex;
        flex-wrap: wrap;

        & input {
          margin: 0;
          width: 100%;
        }

        & button {
          width: 100%;
          margin: 16px 0;
        }
      }
    }

    &__discount {
      position: relative;
      margin: -140px auto 0;
      left: 0;
      //top: 873px;
      top: 80px;
    }
  }

  .universities {
    margin-bottom: 80px;

    &__icons {
      justify-content: center;
    }

    &__title {
      text-align: left;
      font-size: 24px;
      line-height: 32px;
    }
  }

  .education-info {
    padding: 0 16px;
    flex-wrap: wrap;

    &__title {
      font-size: 44px;
      line-height: 48px;
      width: auto;
    }

    &__subtitle {
      padding: 24px 0;
      width: auto;
      font-size: 18px;
      line-height: 22px;
      //max-width: 296px;
    }

    &__plan {
      font-size: 20px;
      line-height: 26px;
      margin-left: 16px;

      &__download {
        font-size: 24px;
        line-height: 32px;

      }
    }

    &__seasons {
      margin-left: 0 !important;
      margin-top: 64px;
    }
  }

  .season {
    width: 50%;

    &:nth-child(odd) {
      padding-right: 20px;
    }

    &__title {
      font-size: 30px;
      line-height: 32px;
      padding-left: 0;
    }

    & div {
      flex-wrap: wrap;
      max-width: 84px;

      & img {
        width: 32px;
        height: 32px;
      }
    }

    &__list {
      padding-bottom: 42px;
      max-width: 154px;
      padding-left: 0px;
    }
  }

  .benefits {
    display: flex;
    flex-wrap: wrap;

    &__block {
      margin: 0 16px 40px !important;
      width: 100%;
      height: auto;

      &__title, &__title span {
        font-size: 44px;
        line-height: 48px;
      }

      &__title {
        padding: 16px 32px;
      }
    }

    &__hours {
      margin: 0 0 24px 16px !important;

      &__title {
        font-size: 20px;
        line-height: 26px;
      }

      &__description {
        font-size: 18px;
        line-height: 22px;
        max-width: 256px;
      }


      &__alert {
        font-size: 24px;
        line-height: 32px;
        margin: 0 40px 40px 40px;
      }
    }
  }

  .benefits__hours__link, .license__link {
    max-width: 256px;
    height: auto;
    width: auto;
  }

  .price {
    padding: 0 16px;
    height: auto;

    &__title {
      padding-top: 275px;
      font-size: 44px;
      line-height: 48px;
      text-align: left;
    }

    &__subtitle {
      font-size: 24px;
      line-height: 32px;
      text-align: left;
    }

    &__columns {
      margin: 0 !important;
      flex-wrap: wrap;
      padding-bottom: 0;
    }

    &__margin {
      margin-right: 20px;
    }

    &__subject {
      &__name {
        font-size: 18px;
        line-height: 22px;
      }
    }

    &__discount {
      margin: 20px 0 40px 0;
    }

    &__check {
      margin: 40px auto 275px;
    }
  }

  .license {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin: -180px 16px 0;

    &__wrapper {
      margin: 0 16px;
      max-width: none;
      width: 100%;
    }

    &__title {
      font-size: 30px;
      line-height: 32px;
      padding: 32px 0 16px;
    }

    &__description {
      font-size: 20px;
      line-height: 26px;
    }

    &__link {
      width: 100%;
      margin: 16px 0 40px !important;
      max-width: 296px;
    }
  }

  .teachers {
    margin: 40px 0 0;

    &-wrapper {
      margin: 40px 16px 0;
      display: flex;
      flex-wrap: wrap;
    }

    &__title {
      font-size: 44px;
      line-height: 48px;
    }

    &__slider {
      //max-width: 302px;
      //margin-right: 302px + 32px;
      max-width: 334px;
    }

    &__slides {
      width: 1000%;
      overflow: hidden;
      //max-width: 334px;
    }

    &__slide {
      display: flex;
      margin-right: 32px;
      //flex-wrap: wrap;
      overflow: hidden;
      width: 302px;
      transition: all 0.5s ease;
    }
  }

  .teacher {
    margin-bottom: 0;

    &:nth-child(odd) {
      margin-right: 0;
    }

    width: 100%;
  }

  .slider__button__wrapper {
    position: unset;
    justify-content: center;
  }

  .comment {
    width: 100%;
    margin: 0;
    max-width: none;

    &__margin {
      margin-top: 40px;
      max-width: none;
    }

    &__body {
      margin: 0;
      max-width: none;
    }

    &__alert {
      top: 0;
      left: 160px;
      z-index: -1;
    }

    &__poster {
      //margin-bottom: 40px;
    }
  }

  .results {
    margin: 0 16px;

    &__row div:first-child {
      order: 5;
    }

    &__row div:nth-child(2) {
      order: 0;
    }

    &__title {
      font-size: 44px;
      line-height: 48px;
      text-align: left;
      max-width: 296px;
    }

    &__subtitle {
      font-size: 24px;
      line-height: 32px;
      text-align: left;
    }
  }

  .examples {
    margin: 0 16px 80px;
    //&__slider {
    //  width: 100%;
    //}
  }

  .example_1 {
    margin-left: 2364px;
  }

  .map {
    background: none;
    margin: 0 0 64px;
    padding: 0;
    width: auto;

    &__info {
      //max-width: 100%;
      width: auto;
      height: auto;
      padding: 32px 16px 40px;
      top: 0;
      left: 0;
      margin: 0 16px;

      &__address {
        font-size: 30px;
        line-height: 32px;
      }

      &__extra-info {
        &__title {
          font-size: 20px;
          line-height: 26px;
        }

        &__subtitle {
          font-size: 18px;
          line-height: 22px;
        }
      }
    }
  }

  #map {
    height: 1164px;
  }

  .questions {
    margin: 0 16px;

    &__title {
      font-size: 30px;
      line-height: 32px;
    }

    &__subtitle {
      font-size: 20px;
      line-height: 26px;
      max-width: 296px;
    }

    & form > div > div {
      width: 100%;
    }

    &__tel {
      margin: 6px 0 16px;
    }

    &__name, &__tel, &__time, &__button {
      width: 100%;
    }

    &__time {
      margin: 0;
    }

    &__button {
      margin: 24px 0 16px;
      font-size: 20px;
      line-height: 26px;
      max-height: 44px;
    }

    &__rights {
      margin: 0;
      padding-bottom: 64px;
      text-align: left;
    }
  }

  .photos {
    max-width: 100%;
    margin: 0 16px 40px;
    flex-wrap: wrap;

    &__middle {
      order: 0;
      max-width: 100%;
      margin: 0;
    }

    &__left {
      order: 1;
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    &__right {
      margin-top: 32px;
      order: 3;
      width: 100%;

      & img {
        width: 100%;
      }
    }

    &__alert {
      order: 2;
    }
  }

  .photo__bg {
    order: 1;
    width: 100%;
    height: 292px;
    margin-top: 250px;

    & img {
      width: 296px;
      height: auto;
    }
  }

  #photo-1 {
    width: 100%;
    height: auto;
    margin: 0;
    position: absolute;
    top: 380px;
    order: 0;
  }

  #photo-3 {
    width: 174px;
    position: relative;
    top: 0;
    left: 0;
    order: 0;
  }

  #photo-middle {
    width: 100%;
    height: auto;
  }

  #photo-logo {
    position: relative;
    order: 4;
    margin-top: 64px;
    top: 0;
    left: 0;

    & img {
      width: 296px;
    }
  }

  .footer {
    margin: 0 16px 24px;
    flex-wrap: wrap;

    &__info {

    }

    &__links {
      width: 100%;
    }

    &__link {
      font-size: 18px;
      line-height: 22px;
      margin-right: 22px;
    }

    &__tel {
      color: #326EEA;
      font-size: 30px;
      line-height: 22px;
    }

    &__years {
      padding-top: 8px;
    }

    &__contacts {
      margin-top: 32px;
    }
  }

}
