@font-face {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 400;
  src: local("PT Root UI"), url("/fonts/PT Root UI_Regular.otf") format("otf");
}
@font-face {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 500;
  src: local("PT Root UI"), url("/fonts/PT Root UI_Medium.otf") format("otf");
}
*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0 0 0 0;
  font-family: 'PT Root UI';
  font-style: normal;
  font-weight: 500;
}
.desktop__hidden {
  position: absolute;
  visibility: hidden;
}
.header {
  width: 100%;
  height: 116px;
  display: flex;
  padding: 0 84px;
  justify-content: space-between;
  align-items: center;
  color: #2B2D33;
  background-color: white;
  font-size: 20px;
  line-height: 26px;
}
.header__logo {
  padding: 40px 0;
}
.header__burger {
  margin-left: 24px;
  cursor: pointer;
  transition: all ease-out 0.2s;
}
.header__menu {
  height: 100%;
  display: flex;
  flex: auto;
  align-items: center;
  transition: all ease-out 0.2s;
  padding: 40px 0 50px 64px;
}
.header__menu__contacts {
  margin-right: 64px;
  display: flex;
}
.header__menu__number {
  text-decoration: none;
  color: #2B2D33;
}
.header__menu__time {
  font-weight: 400;
  font-size: 14px;
  line-height: 10px;
  margin-top: 6px;
}
.header__button {
  color: #F35C22;
  height: 40px;
  padding: 9px 55px;
  border: #F35C22 solid 1px;
  border-radius: 23px;
  background: white;
  cursor: pointer;
}
#menu-mobile {
  display: none;
}
.navbar {
  display: flex;
  align-items: center;
}
.navbar__link {
  text-decoration: none;
  padding-right: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  color: #2B2D33;
}
.navbar__link:last-child {
  padding: 0;
}
.navbar__arrow {
  padding-left: 8px;
}
.wrapper {
  padding: 0 84px;
}
.announce {
  width: 100%;
  padding: 88px 0 40px;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  justify-content: left;
  color: #2B2D33;
}
.announce__block {
  display: flex;
  justify-content: center;
}
.announce__block__text {
  width: 268px;
  height: 52px;
  margin: 8px 0 0 16px;
  text-align: left;
}
.page-title,
.page-title__span {
  width: 100%;
  text-align: left;
  font-weight: 700;
  font-size: 112px;
  line-height: 120px;
  font-feature-settings: 'pnum' on, 'lnum' on;
}
.page-title__span__border {
  width: 4px;
  height: 473.6px;
  border: 1.75px solid #326EEA;
  transform: rotate(90deg);
}
.important-things {
  width: 100%;
  padding: 80px 0 120px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #2B2D33;
}
.important-things__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  margin-right: 72px;
}
.important-things__block:last-child {
  margin-right: 0px;
}
.important-things__block__title {
  padding: 8px 0 16px 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 32px;
}
.important-things__block__text {
  text-align: left;
  font-weight: 500;
}
.recruit {
  color: #2B2D33;
  width: 100%;
  height: 242px;
  background: #203567;
  border-radius: 26px;
  display: flex;
  align-items: center;
  margin-bottom: 120px;
}
.recruit div {
  color: white;
}
.recruit__title {
  width: 476px;
  margin: 40px 62px 62px 52px;
  font-weight: 500;
  font-size: 64px;
  line-height: 70px;
}
.recruit__info {
  font-size: 30px;
  line-height: 32px;
}
.recruit__info__desc {
  padding-bottom: 20px;
}
.recruit__info form {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.recruit__info__agree {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
.recruit__input {
  box-sizing: border-box;
  width: 256px;
  height: 44px;
  background: #F1F6FF;
  border: 1px solid #9ABCFF;
  border-radius: 10px;
  margin-right: 12px;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #203567;
}
.recruit__button {
  padding: 6px 24px;
  width: 229px;
  height: 44px;
  background: #326EEA;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 24px;
  line-height: 32px;
}
.recruit__discount,
.comment__alert {
  width: 160px;
  height: 160px;
  position: absolute;
  left: calc(100% - 84px - 108px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  background-image: url("../images/discount-bg.svg");
  transform: rotate(-30deg);
}
.universities {
  margin-bottom: 120px;
}
.universities__title {
  text-align: center;
  font-size: 30px;
  line-height: 32px;
  color: #2B2D33;
}
.universities__icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}
.universities__icon:nth-child(n+2) {
  margin-left: -16px;
}
.education-info {
  color: #2B2D33;
  padding: 0 84px;
  display: flex;
}
.education-info__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 72px;
  width: 515px;
}
.education-info__subtitle {
  width: 476px;
  padding: 40px 0 50px;
}
.education-info .education-info__seasons {
  display: flex;
  flex-wrap: wrap;
  margin-left: 120px;
}
.education-info__plan {
  font-size: 24px;
  line-height: 32px;
  color: #2B2D33;
  margin-left: 24px;
}
.education-info__plan__download {
  color: #326EEA;
  display: flex;
  align-items: center;
  margin-top: 8px;
  text-decoration: none;
}
.season {
  color: #2B2D33;
}
.season:nth-child(odd) {
  padding-right: 80px;
}
.season div {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.season__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 32px;
  padding-left: 16px;
}
.season__list {
  list-style-type: none;
  padding-left: 76px;
  padding-bottom: 64px;
  max-width: 267px;
}
.season__list__orange {
  color: #F35C22;
}
.season__list li {
  padding-bottom: 16px;
}
.season__list li:last-child {
  padding-bottom: 0px;
}
.benefits {
  display: flex;
  color: #2B2D33;
}
.benefits__block {
  width: 616px;
  height: 728px;
  border-radius: 26px;
  color: white;
  z-index: 2;
}
.benefits__block__title {
  font-weight: 700;
  font-size: 44px;
  line-height: 48px;
  padding: 0 52px;
}
.benefits__block__description {
  padding: 16px 52px 58px;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}
.benefits__block:first-child {
  margin-left: 84px;
  margin-right: 40px;
  background: #2B2D33;
}
.benefits__block:last-child {
  margin-right: 84px;
  background: #60A01C;
}
.benefits__hours {
  display: flex;
  align-items: start;
  margin: 32px 0 0 52px;
  width: 100%;
}
.benefits__hours__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 8px;
}
.benefits__hours__description {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  max-width: 420px;
}
.benefits__hours__alert {
  font-size: 30px;
  line-height: 36px;
  margin: 40px 0 0 92px;
}
.benefits__hours__link,
.license__link {
  display: flex;
  align-items: center;
  height: 32px;
  text-decoration: none;
  background: #FFFFFF;
  border-radius: 8px;
  padding: 3px 16px;
  gap: 10px;
  font-size: 20px;
  line-height: 26px;
  color: #326EEA;
  margin-top: 16px;
  cursor: pointer;
}
.price {
  z-index: 0;
  width: 100%;
  top: -194px;
  height: 1440px;
  position: relative;
  background: #203567;
  border-radius: 42px;
  color: white;
}
.price__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 72px;
  text-align: center;
  padding-top: 314px;
}
.price__subtitle {
  padding: 16px 0 60px;
  font-size: 30px;
  line-height: 32px;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}
.price__columns {
  display: flex;
  margin: 0 136px;
}
.price__margin {
  margin-right: 40px;
}
.price__column__title {
  font-size: 30px;
  line-height: 32px;
  color: #8F9AB3;
  margin-bottom: 38px;
}
.price__subject {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 26px;
  display: flex;
  max-width: 194px;
}
.price__subject__name {
  font-size: 19px;
  line-height: 20px;
  margin-left: 12px;
}
.price__subject__checkbox {
  position: absolute;
  visibility: hidden;
}
.price__subject__label {
  width: 24px;
  height: 24px;
  background: #F1F6FF;
  border: 1px solid #9ABCFF;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.price__subject__label img {
  display: none;
}
.price #input-math:checked ~ label img,
.price #input-rus:checked ~ label img,
.price #input-it:checked ~ label img,
.price #input-chemistry:checked ~ label img,
.price #input-soc:checked ~ label img,
.price #input-bio:checked ~ label img,
.price #input-phys:checked ~ label img,
.price #input-history:checked ~ label img,
.price #input-liter:checked ~ label img,
.price #input-eng:checked ~ label img {
  display: flex;
}
.price__period__option {
  display: flex;
  margin-bottom: 24px;
}
.price__period__radio {
  width: 24px;
  height: 24px;
  color: #326EEA;
  background: #F1F6FF;
  border: 1px solid #9ABCFF;
  border-radius: 5px;
  visibility: hidden;
  position: absolute;
}
.price__period__name {
  font-size: 20px;
  line-height: 26px;
  margin-left: 12px;
}
.price__period__label {
  width: 24px;
  height: 24px;
  background: #F1F6FF;
  border: 1px solid #9ABCFF;
  border-radius: 50%;
}
.price #period__radio1:checked ~ label div {
  background: #326EEA;
}
.price #period__radio2:checked ~ label div {
  background: #326EEA;
}
.price #period__radio3:checked ~ label div {
  background: #326EEA;
}
.price #period__radio4:checked ~ label div {
  background: #326EEA;
}
.price__discount {
  width: 218px;
  height: 56px;
  background: #F35C22;
  border-radius: 10px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.price__discount__title {
  max-width: 62px;
  font-size: 16px;
  line-height: 18px;
}
.price__discount__number {
  font-size: 44px;
  line-height: 48px;
  margin: 4px 0 4px 16px;
}
.price__border {
  width: 0;
  height: 324px;
  border: 2px dashed rgba(221, 221, 221, 0.25);
  border-radius: 32px;
  margin: 0 48px;
}
.price__check {
  width: 326px;
  height: 596px;
  background-image: url("../images/check.svg");
  padding: 0 24px;
  margin-left: 50px;
}
.period__label__circle {
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 50%;
  margin: 3px;
}
.check__title {
  font-size: 30px;
  line-height: 32px;
  color: #2B2D33;
  text-align: center;
  padding: 20px 0 16px;
}
.check__line {
  width: 278px;
  height: 0;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.check__subject div {
  color: #2B2D33;
  font-weight: 400;
  font-size: 19px;
  line-height: 21px;
}
.check__input,
.check__button {
  width: 100%;
  height: 44px;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #203567;
  background: #F1F6FF;
  border: 1px solid #9ABCFF;
  border-radius: 10px;
}
.check__input {
  padding-left: 16px;
}
.check__button {
  margin: 16px 0 8px;
  color: white;
  background: #326EEA;
  font-size: 19px;
  line-height: 20px;
}
.check__link {
  display: block;
  text-decoration: none;
  width: 100%;
  text-align: center;
  font-size: 24px;
  line-height: 32px;
  color: #326EEA;
}
.check__link:after {
  content: "";
  display: block;
  width: 160px;
  height: 0;
  opacity: 0.4;
  border: 1px solid #326EEA;
  position: relative;
  left: 59px;
}
.check__rights {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #8F9AB3;
  margin-top: 24px;
}
.check__rights a {
  text-decoration: none;
  color: #8F9AB3;
  border-bottom: 1px solid #8F9AB3;
}
.license {
  margin: 0 84px;
  height: 364px;
  background: #326EEA;
  border-radius: 30px;
  position: relative;
  top: -394px;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
}
.license__wrapper {
  margin-left: 52px;
  max-width: 584px;
}
.license__title {
  padding: 48px 28px 16px 0;
  font-weight: 700;
  font-size: 44px;
  line-height: 48px;
  font-feature-settings: 'pnum' on, 'lnum' on;
}
.license__description {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}
.license__link {
  width: 390px;
}
.teachers {
  margin-left: 160px;
}
.teachers-wrapper {
  color: #2B2D33;
  position: relative;
  top: -394px;
  margin: 160px 84px 0;
  display: flex;
}
.teachers__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 72px;
  max-width: 460px;
}
.teachers__title span {
  font-weight: 700;
  color: #F35C22;
}
.teachers__subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  font-feature-settings: 'liga' off;
  max-width: 478px;
  padding: 40px 0 32px;
}
.teachers__link {
  text-decoration: none;
  font-size: 24px;
  line-height: 32px;
  color: #326EEA;
}
.teachers__slider {
  overflow: hidden;
  max-width: 636px;
}
.teachers__slider__navigation {
  display: flex;
  justify-content: center;
  min-height: 12px;
  margin-top: 50px;
}
.teachers__slider__navigation__label {
  width: 10px;
  height: 10px;
  background: #8F9AB3;
  opacity: 0.5;
  border-radius: 50%;
  margin-right: 8px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.teachers__slider__navigation__label:hover {
  opacity: 0.8;
  transform: scale(1.1);
}
.teachers__slider__navigation__label:first-child {
  background: #326EEA;
  opacity: 1;
}
.teachers__slides {
  width: 500%;
  height: 100%;
  display: flex;
}
.teachers__slide {
  display: flex;
  width: 20%;
  transition: all 0.5s ease;
}
#teachers__slider__radio1:checked ~ .teachers__slide_1 {
  margin-left: 0;
}
#teachers__slider__radio2:checked ~ .teachers__slide_1 {
  margin-left: -20%;
}
#teachers__slider__radio3:checked ~ .teachers__slide_1 {
  margin-left: -40%;
}
#teachers__slider__radio4:checked ~ .teachers__slide_1 {
  margin-left: -60%;
}
#teachers__slider__radio5:checked ~ .teachers__slide_1 {
  margin-left: -80%;
}
input[name="teachers__slider__r"] {
  position: absolute;
  visibility: hidden;
}
.slider__button {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/slider/arrow-left-disabled.svg");
  cursor: pointer;
}
.slider__button__left:hover {
  transform: scale(1.1);
}
.slider__button_right {
  background-image: url("../images/slider/arrow-left.svg");
  transform: rotate(180deg);
}
.slider__button_right:hover {
  transform: scale(1.1) rotate(180deg);
}
.teacher {
  max-width: 302px;
  position: relative;
}
.teacher__photo {
  max-height: 240px;
}
.teacher__photo__bg {
  position: relative;
  z-index: -1;
  top: -200px;
  width: 302px;
  height: 200px;
  background: #F1F6FF;
  border-radius: 26px;
}
.teacher:nth-child(odd) {
  margin-right: 32px;
}
.teacher__name {
  font-size: 30px;
  line-height: 32px;
  color: #2B2D33;
  padding-left: 16px;
}
.teacher__education {
  margin-left: 56px;
  font-size: 20px;
  line-height: 26px;
  color: #2B2D33;
}
.teacher__experience {
  margin: 16px 0 0 56px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #2B2D33;
}
.results {
  position: relative;
  top: -394px;
  margin: 120px 84px 0;
  color: #2B2D33;
}
.results__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 72px;
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;
}
.results__subtitle {
  font-size: 30px;
  line-height: 32px;
  text-align: center;
  margin: 16px 0 32px;
}
.results__link {
  display: block;
  max-width: 384px;
  text-decoration: none;
  margin: 0 auto;
}
.results__link:hover {
  color: white;
}
.results__link,
.questions__button {
  color: white;
  padding: 6px 24px;
  background: #326EEA;
  border-radius: 10px;
  font-size: 24px;
  line-height: 32px;
  cursor: pointer;
}
.comment {
  background: #203567;
  color: white;
  margin-right: 40px;
  max-width: 288px;
  padding: 0 16px 20px;
  border-radius: 30px;
}
.comment_white {
  color: #203567;
  background: #F1F6FF;
}
.comment__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 32px;
  padding: 24px 24px 8px 0;
}
.comment__subject {
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 16px;
}
.comment__body {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  max-width: 216px;
}
.comment__poster {
  padding: 24px 0 40px 8px;
  display: block;
  text-decoration: none;
  color: #2B2D33;
  cursor: pointer;
}
.comment__alert {
  background-image: url("../images/comments/alert.svg");
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: white;
  top: 670px;
  width: 160px;
  height: 160px;
}
.examples {
  position: relative;
  top: -394px;
  margin: 0 84px;
}
.example {
  background: #F1F6FF;
  border-radius: 26px;
  padding: 32px 24px 40px;
  color: #203567;
  max-width: 248px;
}
.example__points {
  font-weight: 700;
  font-size: 30px;
  line-height: 32px;
}
.example__subject {
  font-size: 14px;
  line-height: 18px;
  padding: 8px 0 32px;
}
.example__name {
  margin-left: 16px;
  max-width: 84px;
  font-size: 18px;
  line-height: 22px;
}
.map {
  min-height: 988px;
  width: 100%;
  position: relative;
  top: -394px;
  padding: 120px 84px;
  background-image: url("../images/map/map.svg");
  color: white;
}
.map__info {
  padding: 48px 52px 0;
  width: 616px;
  height: 748px;
  background: #203567;
  border-radius: 26px;
  position: relative;
}
.map__info__address {
  font-weight: 700;
  font-size: 44px;
  line-height: 48px;
  margin-bottom: 32px;
}
.map__info__extra-info {
  display: flex;
  align-items: start;
  margin-bottom: 16px;
}
.map__info__extra-info__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 8px;
}
.map__info__extra-info__subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 16px;
  display: flex;
}
.map__info__extra-info__icon {
  display: flex;
  justify-content: end;
  margin-right: 16px;
  width: 56px;
}
.map__info__extra-info__icon img {
  width: 24px;
  height: 32px;
}
.map__location {
  position: absolute;
  z-index: 3;
  top: 386px;
  left: 968px;
}
.questions {
  position: relative;
  top: -394px;
  margin: 120px 84px 120px 194px;
  color: #2B2D33;
}
.questions__title {
  font-weight: 700;
  font-size: 44px;
  line-height: 48px;
}
.questions__subtitle {
  margin: 16px 0 32px;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}
.questions__name,
.questions__tel,
.questions__time {
  background: #F1F6FF;
  border: 1px solid #9ABCFF;
  border-radius: 10px;
  height: 44px;
  width: 256px;
  color: #9ABCFF;
  padding-left: 16px;
}
.questions__time {
  margin-right: 24px;
}
.questions__tel {
  margin: 0 12px;
}
.questions__button {
  border: none;
}
.questions__rights {
  margin: 0 0 24px 60px;
}
#parent__radio:checked ~ label div {
  background: #326EEA;
}
#student__radio:checked ~ label div {
  background: #326EEA;
}
.footer {
  position: relative;
  top: -394px;
  margin: 0 84px;
  color: #2B2D33;
  display: flex;
  justify-content: space-between;
}
.footer__link {
  margin-right: 32px;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  color: #2B2D33;
}
.footer__ogrn {
  margin-top: 24px;
}
.footer__ogrn div {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.footer__years {
  padding-top: 4px;
}
.footer__icon {
  margin-top: 28px;
  margin-right: 16px;
}
.footer__icon:last-child {
  margin-right: 0px;
}
.menu-mobile {
  display: none;
}
#city-ekb:checked ~ label div {
  background: #326EEA;
}
#city-ekb:checked ~ div {
  color: #326EEA;
}
#city-chel:checked ~ label div {
  background: #326EEA;
}
#city-chel:checked ~ div {
  color: #326EEA;
}
@media (max-width: 767px) {
  .desktop__hidden {
    visibility: visible;
    position: relative;
  }
  .menu-mobile {
    position: fixed;
    margin-top: 64px;
    padding: 0 16px 32px;
    width: 100%;
    height: auto;
    background-color: white;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    display: flex;
    right: -100%;
    top: 0;
    transition: right 0.5s;
  }
  .menu-mobile.active {
    right: 0;
    transition: right 0.5s;
  }
  .menu-mobile > * {
    margin: 25px 0;
  }
  .menu-mobile__link {
    text-decoration: none;
    color: black;
    padding: 0 5px 10px;
    border-bottom: solid 2px black;
  }
  .menu-mobile__button {
    text-decoration: none;
    font-size: 20px;
    line-height: 26px;
    cursor: pointer;
    padding: 3px 16px;
    height: auto;
  }
  .menu-mobile__button:hover {
    color: white;
  }
  .mobile__hidden {
    position: absolute;
    visibility: hidden;
  }
  .header {
    display: block;
    padding: 0;
    height: auto;
    margin: 0 16px;
    z-index: 2;
  }
  .header__menu {
    padding: 16px 0;
  }
  .header__menu_desktop {
    padding: 7px 0;
  }
  .header__menu__contacts {
    margin-right: 0;
  }
  .header__logo {
    padding: 0;
  }
  .navbar__link {
    padding-right: 32px;
  }
  .wrapper {
    padding: 0 16px;
  }
  .announce__block img {
    width: 40px;
    height: 40px;
  }
  .announce__block__text {
    font-size: 18px;
    line-height: 22px;
  }
  .page-title,
  .page-title__span {
    font-size: 56px;
    line-height: 56px;
  }
  .important-things {
    order: 2;
    padding: 40px 0 80px;
  }
  .important-things__block__mobile {
    display: flex;
    flex-direction: row !important;
    margin-bottom: 32px;
  }
  .important-things__block__images__mobile {
    flex-wrap: wrap;
    max-width: 32px;
    margin-right: 16px;
  }
  .important-things__block__img {
    width: 32px;
    height: 32px;
  }
  .important-things__block__img:first-child {
    margin: 0 0 4px 0 !important;
  }
  .important-things__block__title,
  .important-things__block__text {
    max-width: 280px;
  }
  .important-things__block__title {
    font-size: 30px;
    line-height: 32px;
    padding-top: 0;
    padding-bottom: 12px;
  }
  .recruit {
    order: 1;
    min-height: 480px;
    flex-wrap: wrap;
    align-items: start;
    margin-top: 40px;
  }
  .recruit__title {
    margin: 32px 16px 30px;
    font-size: 44px;
    line-height: 48px;
  }
  .recruit__info {
    display: flex;
    flex-wrap: wrap;
    margin: 0 16px;
    padding-bottom: 84px;
  }
  .recruit__info__desc {
    font-size: 24px;
    line-height: 26px;
    padding-bottom: 32px;
  }
  .recruit__info form {
    display: flex;
    flex-wrap: wrap;
  }
  .recruit__info form input {
    margin: 0;
    width: 100%;
  }
  .recruit__info form button {
    width: 100%;
    margin: 16px 0;
  }
  .recruit__discount {
    left: 100px;
    top: 1000px;
  }
  .universities {
    margin-bottom: 80px;
  }
  .universities__title {
    text-align: left;
    font-size: 24px;
    line-height: 32px;
    max-width: 296px;
  }
  .education-info {
    padding: 0 16px;
    flex-wrap: wrap;
  }
  .education-info__title {
    font-size: 44px;
    line-height: 48px;
    width: auto;
  }
  .education-info__subtitle {
    padding: 24px 0;
    width: auto;
    font-size: 18px;
    line-height: 22px;
    max-width: 296px;
  }
  .education-info__plan {
    font-size: 20px;
    line-height: 26px;
    margin-left: 16px;
  }
  .education-info__plan__download {
    font-size: 24px;
    line-height: 32px;
  }
  .education-info__seasons {
    margin-left: 0 !important;
    margin-top: 64px;
  }
  .season:nth-child(odd) {
    padding-right: 20px;
  }
  .season__title {
    font-size: 30px;
    line-height: 32px;
    padding-left: 0;
  }
  .season div {
    flex-wrap: wrap;
    max-width: 84px;
  }
  .season div img {
    width: 32px;
    height: 32px;
  }
  .season__list {
    padding-bottom: 42px;
    max-width: 154px;
    padding-left: 0px;
  }
  .benefits {
    display: flex;
    flex-wrap: wrap;
  }
  .benefits__block {
    margin: 0 16px 40px !important;
    width: 100%;
    height: auto;
  }
  .benefits__block__title,
  .benefits__block__title span {
    font-size: 44px;
    line-height: 48px;
  }
  .benefits__block__title {
    padding: 16px 32px;
  }
  .benefits__hours {
    margin: 0 0 24px 16px !important;
  }
  .benefits__hours__title {
    font-size: 20px;
    line-height: 26px;
  }
  .benefits__hours__description {
    font-size: 18px;
    line-height: 22px;
    max-width: 256px;
  }
  .benefits__hours__alert {
    font-size: 24px;
    line-height: 32px;
    margin: 0 40px 40px 40px;
  }
  .benefits__hours__link,
  .license__link {
    max-width: 256px;
    height: auto;
    width: auto;
  }
  .price {
    padding: 0 16px;
    height: auto;
  }
  .price__title {
    padding-top: 275px;
    font-size: 44px;
    line-height: 48px;
    text-align: left;
  }
  .price__subtitle {
    font-size: 24px;
    line-height: 32px;
    text-align: left;
  }
  .price__columns {
    margin: 0 !important;
    flex-wrap: wrap;
  }
  .price__margin {
    margin-right: 20px;
  }
  .price__subject__name {
    font-size: 18px;
    line-height: 22px;
  }
  .price__discount {
    margin: 20px 0 40px 0;
  }
  .price__check {
    margin: 40px auto 275px;
  }
  .license {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin: 0 16px;
  }
  .license__wrapper {
    margin: 0 16px;
    max-width: none;
    width: 100%;
  }
  .license__title {
    font-size: 30px;
    line-height: 32px;
    padding: 32px 0 16px;
  }
  .license__description {
    font-size: 20px;
    line-height: 26px;
  }
  .license__link {
    width: 100%;
    margin: 16px 0 40px !important;
    max-width: 296px;
  }
  .teachers {
    margin: 40px 0 0;
  }
  .teachers-wrapper {
    margin: 40px 16px 0;
    display: flex;
    flex-wrap: wrap;
  }
  .teachers__title {
    font-size: 44px;
    line-height: 48px;
  }
  .teachers__slider {
    margin-right: 334px;
  }
  .teachers__slides {
    width: 900%;
  }
  .teachers__slide {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width: 10%;
    transition: all 0.5s ease;
  }
  .teacher {
    margin-bottom: 32px;
    width: 100%;
  }
  .results {
    margin: 0 16px;
  }
  .results__row div:first-child {
    order: 5;
  }
  .results__row div:nth-child(2) {
    order: 0;
  }
  .results__title {
    font-size: 44px;
    line-height: 48px;
    text-align: left;
    max-width: 296px;
  }
  .results__subtitle {
    font-size: 24px;
    line-height: 32px;
    text-align: left;
  }
  .map {
    background: none;
    margin: 0 16px;
    padding: 0;
  }
  .map__info {
    width: 100%;
    height: auto;
    padding: 32px 16px 40px;
  }
  .map__info__address {
    font-size: 30px;
    line-height: 32px;
  }
  .map__info__extra-info__title {
    font-size: 20px;
    line-height: 26px;
  }
  .map__info__extra-info__subtitle {
    font-size: 18px;
    line-height: 22px;
  }
  .questions {
    margin: 0 16px;
  }
  .questions__title {
    font-size: 30px;
    line-height: 32px;
  }
  .questions__subtitle {
    font-size: 20px;
    line-height: 26px;
    max-width: 296px;
  }
  .questions__tel {
    margin: 32px 0 16px;
  }
  .questions__name,
  .questions__tel,
  .questions__time,
  .questions__button {
    width: 100%;
  }
  .questions__time {
    margin: 0;
  }
  .questions__button {
    margin: 24px 0 16px;
    font-size: 20px;
    line-height: 26px;
  }
  .footer {
    margin: 0 16px;
    flex-wrap: wrap;
  }
  .footer__links {
    width: 100%;
  }
  .footer__link {
    font-size: 18px;
    line-height: 22px;
    margin-right: 22px;
  }
  .footer__years {
    padding-top: 8px;
  }
}
/*# sourceMappingURL=main.css.map */